<%= form_with(model: word_response, local: true) do |form| %>
  <% if word_response.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(word_response.errors.count, "error") %> prohibited this word_response from being saved:</h2>

      <ul>
      <% word_response.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h1 style="color:red;"> Group and class hasn't been linked at this moment  </h1>

<% attitude=[["Strongly agree","Strongly agree"],["agree","agree"],["Neutral","Neutral"],["Disagre","Disagre"],["Strongly disagree"],["Strongly disagree"]]%>


<%= select_tag(:group_id, options_for_select(@groups), :prompt => "select the answer") %>

<div class="form-group">
    <%= form.label :"Q1: how do you feel about your class" %></br>
    <%= select_tag(:q1, options_for_select(attitude), :prompt => "select the group") %>
    
  </div>

  <div class="form-group">
    <%= form.label :"Q2: how do you feel about your project" %></br>
    <%= select_tag(:q2, options_for_select(attitude), :prompt => "select the group") %>
  </div>

  <div class="form-group">
    <%= form.label :"Q3: how do you feel about your teammates" %></br>
    <%= select_tag(:q3, options_for_select(attitude), :prompt => "select the group") %>
  </div>
  
    <div class="form-group">
    <%= form.label :"Q3:Please rate for your teammates" %><%=  %> </br>
    <%= select_tag(:q3, options_for_select(attitude), :prompt => "select the group") %>
  </div>


   <div class="form-group">
    <%= form.submit "Publish" , class: "btn btn-primary" %>
    <%= form.submit "Save As Draft" , class: "btn btn-primary"%>
  </div>

<% end %>



