<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @word_response.q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @word_response.q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @word_response.q3 %>
</p>


<% if user_signed_in? %>


	<% if @word_response.user_id == current_user.id %>

	<%= link_to 'Edit', edit_word_response_path(@word_response) %> |
	<%= link_to 'Back', word_responses_path %>

	<% end %>

<% end %>