<h1>Rating</h1>

<table>
  <thead>
    <tr>
      <th>Rater</th>
      <th>Ratee</th>
      <th>Group</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |r| %>
      <tr>
        <% if (r.group_id == Group.find(params[:group_id]).id) %>
          <td><%= User.find(r.user_id).Fname %><% User.find(r.user_id).Lname %></td>
          <td><%= User.find(Evaluate.find(r.evaluate_id).ratee_id).Fname %><% User.find(Evaluate.find(r.evaluate_id).ratee_id).Lname %></td>
          <td><%= Group.find(r.group_id).gname %></td>
          <td><%= r.score %></td>
          <td><%= r.comments %></td>
          <td><%= r.created_at.strftime("%m-%d-%Y") %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br><%= link_to 'Back', groups_path, :class => "btn btn-default" %>

