<h1>Rating</h1>

<table>
  <thead>
    <tr>
      <th>Rater</th>
      <th>Ratee</th>
      <th>Group</th>
      <th>Rating</th>
      <th>Comments</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <% if ratings.group_id == Group.find(params[:group_id]).id %>
        <td><%= User.find(Rating.user_id).email %></td>
        <td><%= User.find(Rating.ratee_id).email %></td>
        <td><%= Group.find(Rating.group_id).gname %></td>
        <td><%= Rating.score %></td>
        <td><%= Rating.comments %></td>
        <td><%= Rating.created_at.strftime("%m-%d-%Y") %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', groups_path, :class => "btn btn-default" %>

