  <nav>
    <div class="links">
      <div class="logo">
	<%= link_to image_tag("logo.svg")%>
      </div>
      <%= link_to "Evaluationator",root_path,class:"title" %>
      <%= link_to "Student Log in ", student_login_path %>
      <%= link_to "Student Sign Up", student_signup_path  %>
      <%= link_to "Instructor Log in ", instructor_login_path %>
      <%= link_to "Instructor Sign Up", instructor_signup_path  %>
      
    </div>
  </nav>
