<!-- <p id="notice"><%= notice %></p>

<h1>Welcomes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td><%= link_to 'Show', welcome %></td>
        <td><%= link_to 'Edit', edit_welcome_path(welcome) %></td>
        <td><%= link_to 'Destroy', welcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Welcome', new_welcome_path %> -->


<h1>welcome to our project.</h1> 

<p>This is the index page which will provide you with instructions and how to use our website<br/><br/>

//For teammembers: In order to get more information, please go to app/views/welcomes/index.html.erb</p>



<li><%= link_to "Student", :controller => 'students', :action => 'index' %></li>
<li><%= link_to "Instructor", :controller => 'instructors', :action => 'index' %>
</li>



</br></br></br></br></br>

<p>The following section is peer evaluations that are developed right now </p>
<p>Easy access to the index of peer evaluaton</p>
<%= link_to "Peer evaluation", :controller => 'ratings', :action => 'index' %>
