<p id="notice"><%= notice %></p>

Hi my name is <%= @student.name%>, <%= @student.username %>


<p> I am a student! </p>

<%= link_to "Log out", student_logout_path, method: :delete %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
