 <p id="notice"><%= notice %></p>

<h1>Instructors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
	<td><%=instructor.name%></td>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>


<h1>This is the index of Instructor</h1>

<p>In this section, Instructors will be required to enter their information, see the overall information about this project </p>

<li><%= link_to "Create Group", :controller => 'groups', :action => 'index' %></li>


</br></br></br></br>
<font size="10px" color="red">Login information should go there first </font>
