<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gname %>
    <%= form.text_field :gname %>
  </div>

  <div class="field">
    <%= form.label :cname %>
    <%= form.text_field :cname %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.text_field :semester %>
  </div>

  <div class="actions">
    <%= form.submit "Create Group", :class => "btn btn-default" %>
    <%= link_to 'Back', groups_path, :class => "btn btn-default" %>
  </div>
<% end %>
