<p id="notice"><%= notice %></p>

<% if !current_user.try(:admin?) %>
<h1>Groups</h1>
<% else %>
<h1>Manage Groups</h1>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number of Members</th>
      <th>Course</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <!-- If user signed is not an admin but is part of the group, show only group name and members --> 
    <% @groups.each do |group| %>
      <% if user_signed_in? and !current_user.try(:admin?) %>
      	<% for i in 0...group.membership_ids.length %>
           <% if current_user.membership_ids.include? group.membership_ids[i] %>
      	      <tr>
                 <td><%= group.gname %></td>
	         <td><%= group.membership_ids.length %></td>
                 <td><%= Course.find(group.course_id).cname %></td>
                 <td><%= link_to 'Show', group %></td>
              </tr>
           <% end %>
        <% end %>
      <% end %>
    <% end %>

    <!-- If user signed in is admin and owner of group, show each group name, members, and link to detail of each group -->
    <% if current_user.try(:admin?) %>
      <% @groups.each do |group| %>
        <tr><% if user_signed_in? %>
                <td><%= group.gname %></td>
                <td><%= group.membership_ids.length %></td>
                <td><%= Course.find(group.course_id).cname %></td>
                <td><%= link_to 'Show', memberships_path(:group_id => group.id), :class => "btn btn-default" %>

                    <!-- Check if all evals previously sent out are completed --> 
                    <% evalsCheck = true %>
                    <% for i in 0...group.evaluation_ids.length %>
                        <% if Evaluation.find(group.evaluation_ids[i]).attempt == false %>
                          <% evalsCheck = false %>
                        <% end %>
                    <% end %>

                    <!-- Show option to send evals to students group if all other evals sent out have been completed only -->
                    <% if group.evaluation_ids.empty? || evalsCheck %>
                      <% if group.membership_ids.length > 1 %>
                        <%= link_to 'Send Evaluations to Students', welcomes_confirmation_path(:group_id => group.id), data: { confirm: 'Are you sure you want to request evaluations for ' + group.gname + '?'}, :class => "btn btn-default" %><br>
                      <% end %>
                    <% end %>

                    <%= link_to 'Add Member', new_membership_path(:group_id => group.id), :class => "btn btn-primary" %>
                 
                    <!-- Show evaluation results if any exist -->
                    <% resultsExist = false %>
                    <% for i in 0...group.evaluation_ids.length %>
                      <% if Evaluation.find(group.evaluation_ids[i]).attempt == true %>
                        <% resultsExist = true %>
                      <% end %>
                    <% end %>

                    <!-- Show option to see evaluation results if they exist --> 
                    <% if resultsExist %>
                      <%= link_to 'Results', ratings_path(:group_id => group.id), :class => "btn btn-primary" %>
                    <% end %>

                    <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure you want to delete ' + group.gname + '?'}, :class => "btn btn-danger" %>
                </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Memberships-Doesn't work', memberships_path, :class => "btn btn-default" %><br>
<%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %><br>
<%= link_to 'Back to Classes', courses_path, :class => "btn btn-default" %>
