<h1><%= @group.gname %></h1>
<% if @group.membership_ids.length == 0 %>	
    <%= "There are currently no members in this group" %>	
<% else %>	
<% for i in 0...@group.membership_ids.length %>
	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).Fname %> <%= User.find(Membership.find(@group.membership_ids[i]).user_id).Lname %><br>
<% end %>
<% end %>
    <br><%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %>
