<h1><%= @group.gname.capitalize %></h1>
<% if @group.membership_ids.length == 0 %>	
    <%= "There are currently no members in this group" %>	
<% else %>	
<table><thead><tr><td>User</td><td>Email</td><td>Score</td></tr></thead><tbody>
<% for i in 0...@group.membership_ids.length %>
	<tr><td>
	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).Fname %> <%= User.find(Membership.find(@group.membership_ids[i]).user_id).Lname %>
	</td>
	<td>
	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).email %>
	</td>
	<td>
	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).score %>
	</td></tr>

<% end %>
</tbody></table>
<% end %>
    <br><%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %>
