
<h1><%= @group.gname %></h1>

<h2><strong>Members:</strong></h2>
   <% if @group.membership_ids.length == 0 %>
      <%= "There are currently no members in this group" %>
   <% else %>
      <% for i in 0...@group.membership_ids.length %>
         <strong>
         	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).Fname %>
         	<%= User.find(Membership.find(@group.membership_ids[i]).user_id).Lname %>
         	<% @users = User.all.collect %>
			<% @members = [] %>
			Test1
			<% @users.each do |user| %>
				<% if user.membership_ids.include? Group.find(params[:group_id]).membership_ids[i] %>
					<% @members.push user %>
				<% end %>
			<% end %>

			<% for i in 0...@members.length %>
				<% for j in 0...@members.length %>
					<% if i != j %>
						<% @new_rating = Rating.new(:group_id => Group.find(params[:group_id]).id, :rater_id => @members[i].id, :ratee_id => @members[j].id) %>
						<% @new_rating.save %>
					<% end %>
				<% end %>
			<% end %>
			<%= link_to 'Rate', ratings_new_path(:group_id => @group.id) %>
         </strong><br>
      <% end %>
   <% end %><br>
<br>

<% if current_user.try(:admin?) %>
	<%= link_to 'Add Member', new_membership_path(:group_id => @group.id), :class => "btn btn-primary" %>
<% end %>

<br><%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %>
<br><%= link_to 'Back to Classes', courses_path, :class => "btn btn-default" %>

