
<h1><%= @group.gname %></h1>

<h2><strong>Members:</strong></h2>
   <% if @group.membership_ids.length == 0 %>
      <%= "There are currently no members in this group" %>
   <% else %>
      <% for i in 0...@group.membership_ids.length %>
         <strong><%= User.find(Membership.find(@group.membership_ids[i]).user_id).Fname %> <%= User.find(Membership.find(@group.membership_ids[i]).user_id).Lname %></strong><br>
      <% end %>
   <% end %><br>
<br>

<% if current_user.try(:admin?) %>
	<%= link_to 'Add Member', new_membership_path(:group_id => @group.id), :class => "btn btn-primary" %>
<% end %>

<br><%= link_to 'Back to Groups', groups_path, :class => "btn btn-default" %>
<br><%= link_to 'Back to Classes', courses_path, :class => "btn btn-default" %>

