<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @group.course_id %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @group.semester %>
</p>

<p>
  <strong>member2:</strong>
  <%= @group.member2 %>
</p>





<!-- <h>	<%= link_to 'Edit', edit_group_path(@group) %> </h> -->
<li><%= link_to "Evaluation_interface_Student", :controller => 'word_responses', :action => 'index' %></li>

<li><%= link_to 'Back', groups_path %></li>
