<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @scoreboard.user_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @scoreboard.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @scoreboard.comment %>
</p>

<%= link_to 'Edit', edit_scoreboard_path(@scoreboard) %> |
<%= link_to 'Back', scoreboards_path %>
