<div class="login">
<h1>Student Login</h1>
<%= form_for(:studentsession, url: student_login_path) do |f| %>
  <%= f.text_field :username, placeholder: "username" %><br>
  <%= f.password_field :password, placeholder: "password"%><br>
  <%= f.submit "Login"%>
<% end %>
<p>New User? <%= link_to "Sign up now!", student_signup_path %></p>
</div>
