<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Group</th>
      <th>Group Member</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <% if (evaluation.rater_id == current_user.id and evaluation.attempt == false) or current_user.try(:admin?) %>
        <tr>
          <td><%= Group.find(evaluation.group_id).gname %></td>
          <td><%= User.find(evaluation.ratee_id).name %></td>
          <td><%= link_to 'Evaluate', ratings_new_path(:eval_id => evaluation.id), :class => "btn btn-primary" %>
          
          <!--If user is admin, allow to destroy evaluation --> 
              <% if current_user.try(:admin?) %>
                <br><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %><br> </td>
              <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

